/* font family */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;400&family=Literata:opsz,wght@7..72,600&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    color: white;
    font-family: 'Lato', Arial, sans-serif;
}

.heding1,
.heding2,
.heding3 {
    font-family: 'Bree Serif', Arial, sans-serif;
    color: white;
}

/* Navigation */
.navigation {
    background-color: #669113;
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 100; 
}

.navigation ul {
    text-align: right;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 12px 16px;
    display: inline-block;
    /* float: right; */
}

.navigation a:hover {
    color: #000000;
    background-color: white;
}

/* Home section */
.home-section {
    padding-top: 5rem;
    text-align: center;
    /* background: url(../images/BackGroundImage.jpg) center center / cover no-repeat fixed; */
    height: 400px;
}

/* User section */
.welcome-section{
    padding-top: 5rem;
    text-align: center;
    height: 400px;
}


/* game page */

.game {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    color: black;
}

.game h1 {
    font-size: 25px;
    color: #000000;
    font-weight: 600px;
    padding: 30px;
    border-bottom: 1px solid #333;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 20px;
    color: #000000;
    font-weight: 600px;
}

.gameAnswer {
    background-color: #fff;
    color: #222;
    font-weight: 500px;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.gameAnswer:hover {
    background-color: #222;
    color: #fff;
}

#btnNext {
    background-color: #000000;
    color: #fff;
    font-weight: 500px;
    border: 0;
    width: 150px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

/*------------------add background color for correct and incorrect answers */
.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightcoral;
}





/* Footer section */
footer {
    padding-bottom: 1rem;
    background-color: #669113;
    text-align: center;
    width: auto;
    bottom: 0;
    right: 0;
    z-index: 3;
    clear: both;
    overflow: auto;
}

footer>p {
    color: white;
    font-weight: 900;
}

.text-uppercase {
    text-transform: uppercase;
}

.social-networks {
    text-align: center;
    padding: 0;
}

.social-networks>li {
    display: inline;
}

.social-networks i{
    font-size: 200%;
    padding: 1%;
    color: white;
}